project:
  type: website
  output-dir: docs

website:
  title: "Species i in site j"
  navbar:
    right:
      - text: About 
        href: about.qmd
      - icon: github
        href: https://github.com/
format:
  html:
    theme: litera
    css: styles.css

editor: visual

